@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: "Plus Jakarta Sans", sans-serif;
  --secondary-font: "Sixtyfour Convergence", sans-serif;
  --lime: #b9d97f;
  --slate900: #2E4241;
  --slate700: #546564;
  --slate300: #96b3b0;
}

.font-primary {
  font-family: var(--primary-font);
}

.font-secondary {
  font-family: var(--secondary-font);
}

html,
body {
  box-sizing: border-box;
  background: #e7f2f0;
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  font-size: 16px;
}

@media (max-width: 765px) {
  .hidden-on-phone {
    display: none;
  }
}

input {
  padding-left:15px;
  height: 40px;
  border: 2px solid var(--slate300);
  border-radius: 0 2px 2px 0;
}

.input-reverse {
  height: 40px;
  border: 2px solid var(--slate300);
  border-radius: 2px 0 0 2px;
}


@media only screen and (max-width: 768px) {
  .border-radius {
    border-radius: 10px;
  }
}


@media only screen and (max-width: 600px) {
  input {
    height: 50px
  }

  .input-reverse {
    height: 50px;
  }
  
}

@media only screen and (max-width: 600px) { /* Adjust breakpoint as needed */
  .inputs::before {
    content: '';
    margin-top: 7px;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 4px;
    left: 8px;
    border: 2px solid var(--slate900);
    border-radius: 100px;
    display: block; /* Show the element on small screens */
  }
}

@media only screen and (min-width: 601px) { /* Adjust breakpoint as needed */
  .inputs::before {
    display: none; /* Hide the element on large screens */
  }
}



@media only screen and (min-width: 601px) { /* Adjust breakpoint as needed */
  .inputss::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: 2px;
    top: 4px;
    left:8px;
    border: 2px solid var(--slate900);
    border-radius: 100px;
    display: block;
  }
}




